<form data-request="onCheckoutWithAddress">

    <p>
        <input type="text" name="bedard_shop_address[first_name]" placeholder="First Name" />
        <input type="text" name="bedard_shop_address[last_name]" placeholder="Last Name" />
    </p>

    <p>
        <input type="email" name="bedard_shop_address[email]" placeholder="Email Address" />
    </p>

    <p>
        <input type="text" name="bedard_shop_address[address1]" placeholder="Street Address Line 1" />
    </p>
    <p>
        <input type="text" name="bedard_shop_address[address2]" placeholder="Street Address Line 2" />
    </p>

    <p>
        <input type="text" name="bedard_shop_address[city]" placeholder="City" />
        <input type="text" name="bedard_shop_address[state]" placeholder="State / Province" />
        <input type="text" name="bedard_shop_address[postcode]" placeholder="Postal Code" size="6" />
    </p>

    <p>
        <input type="text" name="bedard_shop_address[country]" placeholder="Country" />
    </p>

    <input type="submit" value="Checkout" />

</form>