.fancy-layout .control-tabs > div.tab-content > div.tab-pane > div.form-group {
	padding: 10px 15px;
}

/**
 * Gives list icons some size and room to breath
 */
.list-icon {
	font-size: 16px;
	margin-right: 5px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

/**
 * Currency / Percent icons
 */
.currency-icon {
    margin-right: 2px;
}
.currency-percent {
    margin-left: 2px;
    font-weight: bold;
}

/**
 * Makes list link's easier to click on by filling their container
 */
.list-link {
    padding: 11px 0;
}
.list-link:hover {
    text-decoration: underline !important;
}

/**
 * Widget styling
 */
.widget-body {
    padding: 0 15px;
}

/**
 * Font colors
 */
.green { color: #95B753  !important; }
.yellow { color: #E5A91A !important; }
.red { color: #CC3300 !important; }
.blue { color: #0071AE !important; }