.fancy-layout .control-tabs > div.tab-content > div.tab-pane > div.form-group {
	padding: 10px 15px;
}

.list-icon {
	font-size: 16px;
	margin-right: 5px;
}

.green { color: #95B753  !important; }
.yellow { color: #E5A91A !important; }
.red { color: #CC3300 !important; }
.blue { color: #0071AE !important; }