{% if not __SELF__.exists %}

    <h1>Product not found</h1>

{% else %}

    <h1>{{ __SELF__.name }}</h1>
    <p>{{ __SELF__.description }}</p>

    {% if __SELF__.isDiscounted %}
        <strike>{{ __SELF__.fullPrice }}</strike>
        <span style="color: green">{{ __SELF__.price }}</span>
    {% else %}
        {{ __SELF__.price }}
    {% endif %}

    {{ form_ajax('onAddToCart') }}
        <input type="hidden" name="bedard_shop_product" value="{{ __SELF__.slug }}" />
        <input type="hidden" name="bedard_shop_quantity" value="1" />

        {% if __SELF__.hasMultipleInventories %}
            <select name="bedard_shop_inventory">
                {% for inventory in __SELF__.inventories %}
                    <option value="{{ inventory.id }}">{{ inventory.name }}</option>
                {% endfor %}
            </select>
        {% endif %}

        <button type="submit">Add To Cart</button>
    {{ form_close() }}

{% endif %}