<div class="form-group">

	<a href="#" class="btn btn-primary oc-icon-plus new-inventory">Add Inventory</a>

	<ul class="inventories<?php if (count($inventories) == 0) echo ' hidden' ?>">

		<li class="disabled header">
			<div class="fields">
				<div class="name"><label>Inventory Name</label></div>
				<div class="quantity"><label>Quantity</label></div>
				<div class="modifier"><label>Price Modifier</label></div>
			</div>
			<div class="actions">
				<div class="status"><label>Status</label></div>
				<div class="handle"><label>Move</label></div>
				<div class="delete"><label>Delete</label></div>
			</div>
		</li>

		<li class="disabled template">
			<?= $this->makePartial('row') ?>
		</li>

		<?php foreach ($inventories as $inventory): ?>
			<li class="inventory">
				<?= $this->makePartial('row', [
					'id'		=> $inventory->id,
					'name'		=> $inventory->name,
					'quantity'	=> $inventory->quantity,
					'modifier'	=> $inventory->modifier,
					'is_active'	=> $inventory->is_active
				]) ?>
			</li>
		<?php endforeach ?>

	</ul>

	<div class="no-inventories<?php if (count($inventories) > 0) echo ' hidden' ?>">
		There are no inventories for this product.
	</div>

</div>
